<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MusicPlayer.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MusicPlayerwNAudio.RequestedSong" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MusicPlayerwNAudio.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MusicPlayerwNAudio.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MusicPlayerwNAudio.MusicPlayer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicPlayer.config>
            <setting name="WindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0.215</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Vis" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MusicPath" serializeAs="String">
                <value>D:\Eigene Dateien\Medien\Musik</value>
            </setting>
            <setting name="MultiThreading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WavePreload" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Col" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="AntiAliasing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoVolume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smoothness" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="OldSmooth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrowserDownloadFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordRPCActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStopDiscordRPConGameDetection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadowDistance" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
        </MusicPlayer.config>
        <MusicPlayerwNAudio.RequestedSong>
            <setting name="RequestedSongString" serializeAs="String">
                <value/>
            </setting>
        </MusicPlayerwNAudio.RequestedSong>
        <MusicPlayerwNAudio.Settings1>
            <setting name="RequestedSong" serializeAs="String">
                <value/>
            </setting>
        </MusicPlayerwNAudio.Settings1>
        <MusicPlayerwNAudio.config>
            <setting name="WindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0.215</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicPath" serializeAs="String">
                <value>D:\Eigene Dateien\Medien\Musik</value>
            </setting>
            <setting name="MultiThreading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WavePreload" serializeAs="String">
                <value>50000000</value>
            </setting>
        </MusicPlayerwNAudio.config>
        <MusicPlayerwNAudio.MusicPlayer>
            <setting name="WindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
        </MusicPlayerwNAudio.MusicPlayer>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
